<div class="mt-2 ml-3 pt-5">
<h1>Car Finder</h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <% if @carros.present?%>


  <div class="col-md-2">


    <form action="/" method="GET" class="form">
      <div class="form-group ">
      <div class="d-flex flex-column">
        <label for="body">Body</label>
        <select class="form-control" name="body" id="exampleFormControlSelect1">
        <option value=''>-- All --</option>
          
          
        </select>
      </div>
      </div>
      <div class="form-group ">
        <div class="d-flex flex-column">
          <label for="color">Color</label>
          <select class="form-control" name="color" id="exampleFormControlSelect2">
            <option value=''>-- All --</option>
          </select>
        </div>  
      </div>
      
      <div class="form-group ">
        <div class="d-flex flex-column">
          <label for="price">Max Price</label>
          <input class="form-control" type="text" name="price" id="m_ini">
        </div>  
      </div>

      <div class="form-group ">
        <div class="d-flex flex-column">
          <label for="m_ini">Mileage Min</label>
          <input class="form-control" type="text" name="m_ini" id="m_ini">
        </div>  
      </div>
      
      <div class="form-group ">
        <div class="d-flex flex-column">
          <label for="m_end">Mileage Max</label>
          <input class="form-control" type="text" name="m_end" id="m_ini">
        </div>  
      </div>

      <div class="form-group ">
        <div class="d-flex flex-column">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </form>

    <div class="d-flex flex-column">
      <%= link_to 'Add new Carro', new_carro_path, :class => 'btn btn-info my-2' %>
    </div>
    
  </div> <!-- END COL 1-->
  <div class="col-md-9">
    
    <div class="row">
        <% @carros.each do |carro| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <p class="card-text"><%= carro.nome %></p>
                <p class="card-text"><%= carro.marca.nome %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'View', carro, :class => 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to 'Edit', edit_carro_path(carro), :class => 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to 'Destroy', carro, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-outline-secondary' %>
                  </div>
                  <small class="text-muted"><%= carro.ano %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    

  </div>



</div> <!-- END ROW-->

<% else %>
  <div class="container text-center">
    <h1>No records were found</h1>
    <h3>Maybe you should run the migration</h3>
  </div>
  
<% end %>  

</div> <!-- END CONTAINER -->
  

  